
# 忽略外部配置文件
./local_helper_client/config
# ========== 编译目录 ==========
# 通用构建目录（递归所有层级）
**/target/
**/build/
**/bin/
**/out/
**/dist/

# Maven 特定忽略项
**/pom.xml.tag
**/pom.xml.releaseBackup
**/pom.xml.versionsBackup

# ========== IDE 文件 ==========
**/.idea/
**/.settings/
**/.classpath
**/.project
**/*.iml

# ========== 本地配置 ==========
# 忽略所有模块的本地配置目录
